<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>别林斯基</key>
	<string>土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。</string>
	<key>蒙田</key>
	<string>我需要三件东西：爱情友谊和图书。然而这三者之间何其相通！炽热的爱情可以充实图书的内容，图书又是人们最忠实的朋友。</string>
	<key>德奥弗拉斯多</key>
	<string>时间是一切财富中最宝贵的财富。</string>
	<key>欧文</key>
	<string>真理惟一可靠的标准就是永远自相符合。</string>
	<key>斯里兰卡</key>
	<string>世界上一成不变的东西，只有“任何事物都是在不断变化的”这条真理。</string>
	<key>巴尔扎克</key>
	<string>过放荡不羁的生活，容易得像顺水推舟，但是要结识良朋益友，却难如登天。</string>
	<key>歌德</key>
	<string>这世界要是没有爱情，它在我们心中还会有什么意义！这就如一盏没有亮光的走马灯。</string>
	<key>赫尔巴特</key>
	<string>相信谎言的人必将在真理之前毁灭。</string>
	<key>何其芳</key>
	<string>爱情原如树叶一样，在人忽视里绿了，在忍耐里露出蓓蕾。</string>
	<key>纪伯伦</key>
	<string>一件事实是一条没有性别的真理。</string>
	<key>柯尔律治</key>
	<string>友谊是一棵可以庇荫的树。</string>
	<key>王尔德</key>
	<string>如果你浪费了自己的年龄，那是挺可悲的。因为你的青春只能持续一点儿时间——很短的一点儿时间。</string>
	<key>高尔基</key>
	<string>我读的书愈多，就愈亲近世界，愈明了生活的意义，愈觉得生活的重要。</string>
	<key>洛克</key>
	<string>人生的磨难是很多的，所以我们不可对于每一件轻微的伤害都过于敏感。在生活磨难面前，精神上的坚强和无动于衷是我们抵抗罪恶和人生意外的最好武器。</string>
	<key>刘易斯</key>
	<string>人生并不像火车要通过每个站似的经过每一个生活阶段。人生总是直向前行走，从不留下什么。</string>
	<key>赫尔岑</key>
	<string>科学是到处为家的，不过，在任何不播种的地方，是决不会得到丰收的。</string>
	<key>罗素</key>
	<string>爱情只有当它是自由自在时，才会叶茂花繁。认为爱情是某种义务的思想只能置爱情于死地。只消一句话：你应当爱某个人，就足以使你对这个人恨之入骨。</string>
	<key>梁实秋</key>
	<string>没有人不爱惜他的生命，但很少人珍视他的时间。</string>
	<key>爱默生</key>
	<string>温顺的青年人在图书馆里长大，他们相信他们的责任是应当接受西塞罗，洛克，培根发表的意见；他们忘了西塞罗，洛克与培根写这些书的时候，也不过是在图书馆里的青年人。</string>
	<key>莎士比亚</key>
	<string>笨蛋自以为聪明，聪明人才知道自己是笨蛋。</string>
	<key>马尔林斯基</key>
	<string>毫无经验的初恋是迷人的，但经得起考验的爱情是无价的。</string>
	<key>克鲁普斯卡娅</key>
	<string>良好的健康状况和高度的身体训练，是有效的脑力劳动的重要条件。</string>
</dict>
</plist>
